section {
    width: 80%;
    margin: auto;
}

.header-background {
    margin: auto;
    width: 100%;
    background-color: rgb(0, 140, 255);

    /* Stile per sfondo in pattern */
    background-image: url(../img/pattern.png);
    display: inline-block;
    background-size: 500px;
}

.logo {
    content: url(../img/logo.svg);
    display: inline-block;
    height: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Stile Titolo e Trafiletto */
#booleaner {
    
    font-size: 10;
    color: grey;
    margin-top: -20px;
}

#booleaner-color {
    font-size: 10;
    color: rgb(5, 176, 255);
}

#data {
    font-size: 10px;    
    color: grey;
    margin-top: -15px;

}

/* Galleria Foto */
.tim {
    width: 50% 44%;
}

.desc-foto {
    font-size: 10px;
    margin-top: -2px;
}

/* Paragrafo */

.lorem {
    background-color: yellow;
}

ul {
    margin-left: -25px;
}

/* Tabella */

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    color: white;
    background-color: rgb(0, 140, 255);  
    height: 10px;
    text-align: left;    
}

.tb-sx {
    width: 25%;
    text-align: left;
    color: white;
}

.tb-dx {
    width: 25%;
    text-align: left;
    color: white;
}

.riga {
    background-color: rgba(0, 200, 250, 0.349);
}

/* Footer */
h4 {
    color: grey;
    margin-bottom: 10px;
}

#img1 {
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
    width: 270px;
}

#img2 {
    background-image: url("../img/graph.jpg");
    background-repeat: no-repeat;
    width: 270px;
   
}

.img-titolo {
    color: white;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 180px;
}